@{
    ViewBag.Title = "Recent Posts";
}

@section search {
    <div class="row">
        <form>
            <input id="search" class="u-full-width" placeholder="Search..." type="text">
        </form>
    </div>
}

<div id="content" class="row">

</div>
